<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Check out the cool things you can build with indico!</title>
<link href="../styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
					<tr>
						<td>
							<table class="header" cellpadding="0" cellspacing="0" align="center">
								<tr>
									<td width="600">
										<img src="/images/header-banner.png" width:"100%"></img>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="content-wrap">
							<meta itemprop="name" content="Welcome Email"/>
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block">
										<strong>Hey there (Name)!</strong>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										I hope your experience with our APIs is going well, I just wanted to share a few awesome demos as examples of what you can build using our APIs. There are a few resources to help you too!
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<strong style="font-size:150%">See the personality behind your posts</strong><br>
										<a href="http://labs.five.com">Five Labs</a> built a beautiful tool that uses sentiment analysis to understand your personality--from just your social posts.
										<img src="/images/fivelabs.png" style="padding-top:10px"></img></a>
									</td>
								</tr>
								<tr>
									<td>
										<br>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<strong style="font-size:150%">Using email meta data to visualize relationships</strong><br><a href="https://immersion.media.mit.edu/demo">Immersion</a> from the MIT Media Lab uses your email meta data to give you a look into the history of your digital relationships.<img src="/images/immersion.png" style="padding-top:10px"></img>
									</td>
								</tr>
								<tr>
									<td>
										<br>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<strong style="font-size:150%">Lastly, a few resources to help you hack on!</strong><br>
										<ul>
											<li><a href="http://github.com/yhat/db.py">An easier way to interact with your databases</a></li>
											<li><a href="http://soupy.readthedocs.org/en/latest/">Soupy - HTML and XML scraper</a></li>
											<li><a href="https://github.com/keen/dashboards">Responsive dashboard templates for Bootstrap</a></li>
											<li><a href="https://github.com/caesar0301/awesome-public-datasets">Great list of large-scale public datasets</a></li>
										</ul>
									</td>
								</tr>
									<td>
										<br>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<strong style="font-size:150%">We're here to help</strong><br>
										If you run into any issues, have any questions, or just want to say hi <a href="mailto:contact@indico.io?Subject=Hello%20indico!">drop us a line!</a>
									</td>
								</tr>
								<tr>
									<td>
										<br>
									</td>
								</tr>
								<tr>
									<th>
										<strong>Happy Hacking!</strong><br>
										Slater Victoroff<br>Co-Founder & CEO
									</th>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block">
								Let's stay in touch
							</td>
						</tr>
						<tr>
							<td class="aligncenter content-block">
								<a href="http://twitter.com/indicodata"><img src="/images/social-twitter.png" style="padding-right: 25px"></img></a>
								<a href="http://facebook.com/indicodatasolutions"><img src="/images/social-facebook.png" style="padding-right:25px"></img></a>
								<a href="http://github.com/indicodatasolutions"><img src="/images/social-github.png" style="padding-right:25px"></img></a>
								<a href="https://www.youtube.com/channel/UCGuUwm6PaPkeftGFmNOfTHw"><img src="/images/social-youtube.png" style="padding-right:25px"></img></a>
								<a href="mailto:contact@indico.io?Subject=Hello%20indico!"><img src="/images/social-email.png" style="padding-right:25px"></img></a>
							</td>
						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
